// PasserCommande
.placeorder {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-between;
        position: relative;

        .placeorder-info {
                flex: 3 1 60rem;
        }

      .placeorder-action {
              flex: 1 1 20rem;
              border: 0.1rem #c0c0c0 solid;
              border-radius: 0.5rem;
              background-color: #fcfcfc;
              padding: 1rem;
        }

        .placeorder-action ul div {
                display: flex;
                justify-content: space-evenly;
        }

        .placeorder-action ul button {
                color: black;
                border-radius: 0.5rem;
                border: 0.1rem solid #c0c0c0;
                padding: 0.5rem;
                margin-right: 0.2rem;
                width: 12.7rem;
        }

        .placeorder-info > div {
                border: 0.1rem #c0c0c0 solid;
                border-radius: 0.5rem;
                background-color: #fcfcfc;
                padding: 1rem;
                margin: 1rem;
        }

        .placeorder-info > div h3 {
                font-style: italic;
        }

        .placeorder-info > div > button {
                border-radius: 0.2rem;
                border: 0.2rem solid #fcfcfc;
                background-color: #dddbdb;
                padding: 0.5rem;

                &:hover {
                        transform: scale(1.05 );
                }
        }

        .placeorder-info > div:nth-child(2)  div {
                margin-top: 0.5rem;
        }
        
        .nav1 {
                position: sticky;
                // width: 100%;
                text-align: center;
                top: 0px;
                z-index: 0;
        }
        
        .nav2 {
                position: sticky;
                top: 35px;
                z-index: 0;
        }

        .nav4 {
                position: sticky;
                top: 70px;
                z-index: 0;
                
        }
        
        .nav5 {
                position: sticky;
                top: 105px;
                z-index: 0;
        }
        
        .nav6 {
                position: sticky;
                top: 141px;
                z-index: 0
        }      
     
        .expedition-methode ul {
                display: flex;
                justify-content: center;
        }
        
        .expedition-methode,
        .livraison-methode, 
        .paiement-methode {
                display: flex;
                justify-content: center;
                color: #c04000;
                font-weight: bold;
                font-size: 2rem;
        }

        .cart-list-container article {
                display: flex;
                justify-content: space-between;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 0.2rem $color-4 double;
        }

        .cart-list-container li {
                list-style-type: none;
        }
        
        .cart-list-container article img {
                max-width: 10rem;
                max-height: 10rem;
        }
        
        .cart-name {
                display: flex;
                flex-direction: column;
                height: 7rem;
                width: 12rem;
                justify-content: space-between;
        }

        .cart-name > p:first-child  {
                font-weight: bold;
        }

        .cart-price {
                display: flex;
                align-items: center;
                font-size: 2.5rem;
                text-align: right;
        }

        
        .placeorder-action > ul {
                padding: 0;
                list-style-type: none;
        }

        .placeorder-action > ul > li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
        }

        .placeorder-action > ul > li:last-child {
                font-size: 2rem;
                font-weight: bold;
                color: #c04000;
        }

        .placeorder-action > div :last-child {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: $color-9;
                margin-top: 1rem;
                padding: 0.8rem;
                border-radius: 0.5rem;
                border: none;
                font-size: 1.5rem;
        }
}
        